p{
    margin: 0;
}

ul {
    list-style-type: none;
  }

.profile{
    padding: 50px 0 0 0;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #2a2a2a;
    

    width: 300px;
    margin: 0 auto;
    margin-top: 30px;
}

.description{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
justify-content: center;
}

.avatar{
   width: 200px;
   margin-bottom: 10px;
 }

.name{
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.stats{
    display: flex;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 0;
    /* gap: 50px; */
    justify-content: center;
}

.list{
    display: flex;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #2a2a2a;
    background-color: #5874af;
    flex-basis: calc(100% / 3);
}

.list:not(:last-child) {
    border-right: 1px solid #2a2a2a;
}

.quantity{
    font-weight: bold;  
}